<div class="container">
  <div class="my-4">
      <%= link_to articles_path, style: "text-decoration: none;" do %>
        <i class="fas fa-arrow-left"></i> Back to Articles
      <% end %>
  </div>

  <%= render @article %>
</div>