<% if @articles.present? %>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <h2><%= article.title %></h2>
        <p><%= article.content %></p>
        <p>Published at: <%= article.published_at%></p>
 
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No articles found.</p>
<% end %>
