.navbar-custom {
  justify-content: space-between;
  background: white;
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 80px;
  padding-left: 20px;
}

